h3{
    color: aliceblue; 
    text-align: center; 
    margin-left: 160px;
    margin-right: 160px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.tlo1{
    background-color: rgb(13, 10, 41);
}

.tlo2{
    background-image: url(images/tloshogun.png);
}

.container{
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 1500px;
}

.item{
    padding: 40px;
    background: rgb(62, 30, 99);
    width: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

