h3{
    color: aliceblue; 
    text-align: center; 
    margin-left: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tloimg{
    background-image: url(images/tlo3.jpg);
}

.map{
    margin-left: 300px;
}

.tlocolor{

    background-color: rgb(17, 4, 54);
}

.tekst{
    margin-right: 128px;
    margin-left: 128px;
    margin-bottom: 128px;
    color: aliceblue;
    column-count: 3;
    column-gap: 20px;
}

