    body{
            background-image: url(images/weapontlo.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            color: aliceblue;
    }


  .hometitle{
        margin-left: 3rem;
        margin-bottom: 3rem;
        margin-top: 13rem;
        font-size: 17rem;
        font-family: "scribo-regular", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 25vh;
        color: rgb(255, 255, 255);
        
    }

    
.tekst{
    margin-left: 20vh;
    margin-bottom: 26rem;
    width: 43rem;
    color: aliceblue;
    column-count: 3;
    column-gap: 1rem;
    font-size: 2vh;
}

   .spin {
    animation: spin 4s ease-in-out infinite;
    width: 10%;
    height: auto;
    margin-left:40vh;
    margin-top: -25rem;
}

  @keyframes spin{

        from{
            transform: rotate(0deg);
        }

        to{
            transform: rotate(360deg);
        }
}


