/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * scribo-brush-caps:
 *   - http://typekit.com/eulas/0000000000000000775295d1
 * scribo-brush-regular:
 *   - http://typekit.com/eulas/0000000000000000775295d0
 * scribo-brush-xl-caps:
 *   - http://typekit.com/eulas/0000000000000000775295d2
 * scribo-brush-xl-regular:
 *   - http://typekit.com/eulas/0000000000000000775295d3
 * scribo-caps:
 *   - http://typekit.com/eulas/0000000000000000775295cf
 * scribo-ink-caps:
 *   - http://typekit.com/eulas/0000000000000000775295d4
 * scribo-ink-regular:
 *   - http://typekit.com/eulas/0000000000000000774ff05e
 * scribo-regular:
 *   - http://typekit.com/eulas/0000000000000000775295d9
 * scribo-rough-caps:
 *   - http://typekit.com/eulas/0000000000000000775295d5
 * scribo-rough-regular:
 *   - http://typekit.com/eulas/0000000000000000775295d6
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2026-06-04 08:48:35 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=pnx8fma&ht=tk&f=54831.54832.54833.54834.54835.54836.54837.54838.54839.54840&a=340222048&app=typekit&e=css");

@font-face {
font-family:"scribo-brush-regular";
src:url("https://use.typekit.net/af/fde763/0000000000000000775295d0/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/fde763/0000000000000000775295d0/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/fde763/0000000000000000775295d0/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"scribo-brush-caps";
src:url("https://use.typekit.net/af/9d425a/0000000000000000775295d1/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9d425a/0000000000000000775295d1/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9d425a/0000000000000000775295d1/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"scribo-brush-xl-regular";
src:url("https://use.typekit.net/af/23e293/0000000000000000775295d3/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/23e293/0000000000000000775295d3/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/23e293/0000000000000000775295d3/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"scribo-brush-xl-caps";
src:url("https://use.typekit.net/af/380790/0000000000000000775295d2/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/380790/0000000000000000775295d2/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/380790/0000000000000000775295d2/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"scribo-ink-regular";
src:url("https://use.typekit.net/af/b8e089/0000000000000000774ff05e/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b8e089/0000000000000000774ff05e/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b8e089/0000000000000000774ff05e/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"scribo-ink-caps";
src:url("https://use.typekit.net/af/8aca61/0000000000000000775295d4/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/8aca61/0000000000000000775295d4/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/8aca61/0000000000000000775295d4/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"scribo-caps";
src:url("https://use.typekit.net/af/d5c99d/0000000000000000775295cf/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/d5c99d/0000000000000000775295cf/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/d5c99d/0000000000000000775295cf/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"scribo-rough-regular";
src:url("https://use.typekit.net/af/a71751/0000000000000000775295d6/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a71751/0000000000000000775295d6/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a71751/0000000000000000775295d6/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"scribo-rough-caps";
src:url("https://use.typekit.net/af/34207a/0000000000000000775295d5/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/34207a/0000000000000000775295d5/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/34207a/0000000000000000775295d5/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"scribo-regular";
src:url("https://use.typekit.net/af/f30551/0000000000000000775295d9/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f30551/0000000000000000775295d9/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f30551/0000000000000000775295d9/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-scribo-brush-regular { font-family: "scribo-brush-regular",sans-serif; }
.tk-scribo-brush-caps { font-family: "scribo-brush-caps",sans-serif; }
.tk-scribo-brush-xl-regular { font-family: "scribo-brush-xl-regular",sans-serif; }
.tk-scribo-brush-xl-caps { font-family: "scribo-brush-xl-caps",sans-serif; }
.tk-scribo-ink-regular { font-family: "scribo-ink-regular",sans-serif; }
.tk-scribo-ink-caps { font-family: "scribo-ink-caps",sans-serif; }
.tk-scribo-caps { font-family: "scribo-caps",sans-serif; }
.tk-scribo-rough-regular { font-family: "scribo-rough-regular",sans-serif; }
.tk-scribo-rough-caps { font-family: "scribo-rough-caps",sans-serif; }
.tk-scribo-regular { font-family: "scribo-regular",sans-serif; }
