.tlointrimg{
    background-image: url(images/tloganyu.png);
    background-size: cover;
}

.tlocolorintr{
    background-color: rgb(4, 13, 59);
}

form{
    background-color: rgb(123, 137, 199);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    size: 50px;
}