h3{
    color: aliceblue; 
    text-align: center; 
    margin-left: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.map{
    margin: 12%;
}

.tloimg{
    background-image: url(images/tlo3.jpg);
}

.tlocolor{

    background-color: rgb(17, 4, 54);
}